<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <ul class="ft-list">
          <li><a href="">Mobile App Development</a></li>
          <li><a href="">Mobile App Development</a></li>
          <li><a href="">Web App Development</a></li>
          <li><a href="">Mobile App Development</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6">
        <ul class="ft-list">
          <li><a href="">Mobile App Development</a></li>
          <li><a href="">Mobile App Development</a></li>
          <li><a href="">Web App Development</a></li>
          <li><a href="">Mobile App Development</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6">
        <ul class="ft-list">
          <li><b>Email:</b> info@ferrosia.com</li>
          <li><b>Tell:</b> 1-747-229-7989</li>
          <li><b>Address:</b> 8383 Wilshire Blvd Suite 853 Beverly Hills, Ca 90211</li>
        </ul>
      </div>
      
      <div class="col-md-3 col-sm-6 text-center">
        <a href="index.html" class="ft-logo">
          <img src="img/logo.svg" alt="">
          <!-- <img src="../img/logo.svg" alt=""> -->
        </a>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <span>© 2019 Ferrosia | All Rights Reserved.</span>
</div>