

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="img/logo.svg" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="pages/about.html">About Us</a></li>
            <li><a href="pages/about.html"> Contact Us</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="pages/mobileApp.html">Mobile App Development</a></li>
            <li><a href="pages/android.html">Android  </a></li>
            <li><a href="pages/ios.html">  iOS  </a></li>
            <li><a href="pages/custom-software-development.html">  Custom Software Development   </a></li>
            <li><a href="pages/web-development.html">  Web Development   </a></li>
            <li><a href="pages/uiux.html">  UI /UX Design  </a></li>
            <li><a href="pages/specific-developer.html">  Hire Specific Developers   </a></li>
            <li><a href="pages/partner-with-us.html">  Partner With Us </a></li>
          </ul>
        </li>
        <li><a href="pages/pprtfolio.html">Portfolio</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>